.wrapper{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.container__product{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}


.product__title{
    color: black;
}

.product__content{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;

}

.shoose__block{
    // max-width: ;
    width: 75%;
    // height: 85vh;
}
.toning__card__shoose{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.toning__card__item{
    position: relative;
    height: 200px;
    padding: 0 10px;
    width: 31%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
}

.toning__card__item:hover .card__content {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .card__content {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #fff;
    text-align: center;
    font-size: 20px;
  }
  
  .card__content .cart__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .star__icon{
    color: yellow;
  }
  
  .card__content .dov__tovara {
    margin-bottom: 10px;
  }
  
  .card__content .tovar__name {
    position: absolute;
    right: 40%;
    bottom: 20px;
  }
  

.toning__card__item:hover{
    .card__content{
        opacity: 1;
        
    }
    
}

.toning__card__item .img {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  
  .toning__card__item .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

//   page block

.page__block{
    margin-top: 50px;
    width: 100%;
    background-color: #c8c5c5;
}
.page__content{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}

.page__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page__language{
    display: flex;
    justify-content: space-between;
}

.page__text{
    padding: 0 5px;
}

.page__num{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page__num h5{
    padding: 0 5px;
}
//   catalog block

.catalog__sneakers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.catalog__item{
    width: 30%;
    background-color: #c8c5c5;
    border: 1px solid #000;
    border-radius: 5px;
    margin-top: 10px;
}

.catalog__content{
    width: 100%;
    padding: 15px 15px;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.catalog__img img{
    width: 100%;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    align-items: center;
    text-align: center;
}

  
.star{
    color: rgb(66, 66, 138);
    margin-bottom: 10px;
}

.catalog__pay{
    display: flex;
    width: 80%;
    
    justify-content: space-between;
}

.catalog__pay span{
    font-size: 20px;
    color: #fff;
}
.btn__card{
    background-color: #fff;
    color: #000;
    border: none;
    font-size: 14px;
    margin-bottom: 10px;
}

.add__list{
    display: flex;
    list-style: none;
    font-size: 15px;
    cursor: pointer;
    padding: 5px 10px;
}
.add__list li{
    margin-left: 5px;
    border-bottom: 1px solid #000;
}


// sitebar block
.sitebar{
    // max-width: 220px;
    width: 24%;
    height: 85vh;
}

.shop__by{
    background-color: #6594d1;
    border-radius: 5px;
    padding: 10px 10px;
}

.shop__by h5{
    font-size: 25px;
    font-weight: 400;
}

.phone{
    display: flex;
    flex-flow: column;
    font-size: 15px;
    margin: 6px 0;
}

// compair
.compair__product{
    background-color: #c8c5c5;
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 15px;
}

.list__compair{
    list-style: none;
}


.button__block{
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}
.com__btn{
    border: none;
    border-radius: 6px;
    padding:8px 8px;
    margin: 0 15px;
}
.btn--li{
    text-decoration: underline;
}

// wishlist

.wishlist{
    margin: 10px 0;
    background-color: #c8c5c5;
}
.wishlist__content{
    padding: 10px 15px;
}
.wishlist__item{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.img__wish{
    width: 100px;
    border: 1px solid #000;
}

.wish__text{
    display: flex;
    flex-flow: column;
}

.wish__text span{
    color: #6594d1;
    font-weight: 600;
}

.wish__text button{
    background-color: #6594d1;
    padding: 5px 7px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: 600;
}



.popular__tags{
    margin: 10px 0;
    background-color: #c8c5c5;
    border-radius: 5px;
    
}

.popular__tags__title{
    color: #6594d1;
}

.tags__text{
    display: block;
    
}

.cashback{
    background-color: #6594d1;

}

.cashback__content{
    text-align: right;
    padding: 5px 15px;
    color: #fff;
}

.community{
    background-color: #efe8e8;
}
.community__content{
    margin: 10px 0;
    padding: 20px 20px;
    color:#000;
}

.community__content h2{
    margin-bottom: 5px;
}

.community__content p{
    font-size: 15px;
}

.community__content ul li{
    display: flex;
    padding: 5px 0px;
}

.view__btn{
    background-color: #fff;
    padding: 10px 10px;
    color: #6594d1;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
}

@media (max-width: 650px){
    .product__content{
        display: flex;
        flex-flow: column;
        margin: 30px 0;
    }
    
    .sitebar{
        width: 100%;
        margin-top: 20px;
    }

    .shoose__block{
        width: 100%;
        padding: 0 10px;
    }
    
    .toning__card__item{
        width: 100%;
        margin: 10px 0;
    }

    .catalog__item{
        width: 100%;
        
    }
    
}


    

    
  @media (max-width: 991px){
    .product__content{
        padding: 0 10px;
    
    }
    .wishlist__content{
        padding: 10px 15px;
    }
    .wishlist__item{
        display: flex;
        flex-flow: wrap;
        margin: 10px 0;
    }

    .community__title{
        font-size: 25px;
    }
    
    
   
    
  }